@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>We promote artists that are not very known by posting their work with a link on the artists site.</p>
