@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Support & Marketing:</strong> <a href="mailto:matija.akrap@vsite.com">matija.akrap@vsite.com</a>
</address>
